body{
    background-color: #EEE;
}

.wrapper{
	background-image : url("../images/lightBg.jpg" );
	margin: 0 auto;/*to make everything centered*/
	width: 1000px;
}
.hrline{
	border: 1.5px solid black;
}


/*modify the logo by making an id called logo*/
#logo{
	display : block;
	margin: auto;
	width:219px;
	height:230px;
	border-radius: 100%;
	filter: grayscale(50%);
}

/*modify the two headings together atonce by making a class called h*/
.h{
	text-align: center;
	font-style: Arial-black;
	font-size:25px;
}

.navigator{
	margin:15px;
}

.navigator ul{
	list-style:none;
	margin:10px, 80px, 10px, 5px;
	border-radius:5px;
	padding:14px;
	background: black;
	
}

.navigator ul li{
	display: inline;
}

.navigator ul li a{
	color:white;
	font-size: 16px;
	padding:15px;
	text-decoration: none;
	
}
.navigator ul li a:hover{
	color:red;
	background-color: gray;/*padding color*/
	padding:15px; /* display the pagelink in a gray color square background of 11px size*/
	font-size: 17px;
	font-weight:bold;
	text-decoration: none;
}

.table{
	background-color:white;
	margin:15px;
}

h4{
	text-align:center;
	background-color:gray;
	padding: 5px;
	font-size: 13px;
	
}
h4 a{
	text-decoration: none;
	font-style:Lucida Sans Unicode;
}

 #imgOutp{
	display:block;
	margin: auto;
}
.buttons{
	margin: auto;
	font-style:Arial-black;
	font-weight:bold;
}

form{
	float:top;
	width: 500px;
	margin: auto;
	padding: 20px;
	background: gray;
	font-size: 14px;
	font-family: verdana;
	color: black;
}


